extends ../layout.pug

block content

    section.main.main-raised(style="margin-top: 60px;")
        .container.top-bottom-padding
            img(src="/assets/images/logos/ECU-Logo-500.png", alt="El Comite Urbano Logo", width="500px", class="img-responsive center-block desaturate")
            .panel.panel-default.top-margin
                .panel-heading
                    span.text-success El Comite Urbano
                .panel-body
                    p 
                        | Somos un programa de Radio en Nyc creado con el proposito de traerles los mas reciente de la musica urbana (Latin Hip Hop,Reggeaton,Dembow Etc.) asi como Entrevistas, Freestyles, Videos y mas. Brindando una nueva vision de la Radio Urbana.
                        El Comite Urbano Radio compuesto por sus Anfitriones Tailon, Gansta y Titere, sale al Mercado en Oct 5, 2014 y a solo meses de su lanzamiento ya se an posicionado como el 1 Show de Musica Urbana en Nyc por su forma única y sin censura de presentar la música,noticias del genero y realizar entrevistas.
                        <br /><br />
                        En menos de 1 año an podido entrevistar a los mejores exponentes de la música urbana entre esos: Vico-C, Lito y Polaco, Mc Ceja, D.Ozi, Benny Benni, Gotay El Autentiko, Alexis y Fido, Guelo Star, Alex Kyza, Mackie Ranks,Pacho y Cirilo, Alexio La Bestia, Algenis, Nova La Amenaza, Chyno Nyno, Elio Mafiaboy, Ozuna, Darkiel, Jon-Z, Carmarie, La diabla Lirical, Mike Towers, Geda, Bryan la mente del Equipo, Alpachino, Gabo de la Comision, Segui el Cirujano, Valdo El Leopardo, Jhony Beltran, Alex Fatt, Japanesse, Getto, Eli Palacios, Mr Rapeton, Messiah, Tori Nash, Guariboa, Tali Mcs, Santiago "Alofoke" Matias, La Mulata, Charly la Melma, Julian "Chico Mambo" Peña y muchos mas.
                        <br /><br />
                        El Comite Urbano se a convertido en la plataforma official de lanzamiento en Nyc para los nuevos exponentes de la musica urbana.
                    p 
                        strong Horario: 
                        | Lunes de 8-10pm (Hora Nyc - EST)
                        br
                        strong Presentado por: 
                        | Tailon, Titere & Gansta
                        br
                        strong Atravez de: 
                        a(href="http://Nitelineradio.com") Nitelineradio.com 
                        | or 
                        a(href="http://elcomiteurbano.com") ElComiteUrbano.com