extends ../layout.pug

block content

    section
        .row
            .col-sm-3.no-padding
                .section.bg-light.vh-100
                    .container
                        h3 Manage
                        ul
                            li: a(href="#", data-toggle="modal", data-target="#create-promo-modal") Create Promo

            .col-sm-9.no-padding
                h1.text-center Features coming soon...

    include ../includes/create-promo.pug
    script.
        requirejs(['js/scripts/dashboard'], function(Dashboard){
            new Dashboard();
        });