extends ../layout.pug

block content

    section.section.bg-dark
        .container
            span.section.title Error
            h2(class="text-center") Sorry, an error occurred while processing the page.
            p(class="text-center") #{message}