extends ../layout.pug
include ../includes/mixins.pug

block content

    .home-wrapper
        .banner-image
            img(class="img-responsive", src="assets/images/banners/banner_004.jpg", alt="El Comite Urbano Banner")

            .banner-overlay
            //- .banner-content
            //-     img(class="img-responsive", src="assets/images/logos/ecu_logo_2.png")
            //-     span.banner-subtitle.animated.fadeInUp Lunes de 8-10pm - EST

        .banner-social
            .container.no-padding
                ul.social-media-share-home
                    li
                        a(target="_blank", class="fa fa-3x fa-facebook-official facebook-color", href="https://www.facebook.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-instagram instagram-color", href="https://www.instagram.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-youtube youtube-color", href="https://www.youtube.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-soundcloud soundcloud-color", href="https://soundcloud.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-twitter twitter-color", href="https://www.twitter.com/elcomiteurbano")

        section.section.bg-light
            .container
                span.title.text-right YouTube
                .row
                    each video in youtube.videos
                        .col-sm-6.col-md-6.col-lg-4.margin-bottom-4
                            +card_wrapper_video(video)

        if promos.length > 0
            section.section.bg-dark
                .container
                    span.title.text-right Promos
                    .slider-wrapper
                        each promo in promos
                            +card_wrapper_promo(promo)

        section.section.bg-light
            .container
                span.title.text-right Soundcloud
                .row
                    each song in songs
                        .col-lg-3.col-md-4.col-sm-6.col-xs-12.margin-bottom-4
                            +card_wrapper_song(song)

    script.
        requirejs(['js/scripts/home'], function(HomeScript) {
            new HomeScript();
        });