extends ../layout.pug
include ../includes/mixins.pug

block content

    .home-wrapper
        .banner-image
            .slider-wrapper-header
                div: img.img-responsive(src="assets/images/banners/banner_004.jpg")
                //- div: img.img-responsive(src="https://i1.imgiz.com/rshots/9602/maluma-un-polvo-ft-bad-bunny-arcngel-engo-flow-de-la-ghetto_9602520-32860_1920x1080.jpg")
                //- div: img.img-responsive(src="http://cdn.sonicomusica.com/artists/n/nengo-flow/nengo-flow-6.jpg")
                //- div: img.img-responsive(src="http://reggaeton.com/web/wp-content/uploads/2015/09/nejo-ft-cosculluela-y-randy-a-ve2.jpg")
                //- div: img.img-responsive(src="https://i.ytimg.com/vi/v2qbS8-t-C0/maxresdefault.jpg")

            .banner-overlay

        .banner-social
            .no-padding
                ul.social-media-share-home
                    li
                        a(target="_blank", class="fa fa-3x fa-facebook-official facebook-color", href="https://www.facebook.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-instagram instagram-color", href="https://www.instagram.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-youtube youtube-color", href="https://www.youtube.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-soundcloud soundcloud-color", href="https://soundcloud.com/elcomiteurbanoradio")
                    li
                        a(target="_blank", class="fa fa-3x fa-twitter twitter-color", href="https://www.twitter.com/elcomiteurbano")

        if ((new Date().getUTCDay() === 1 && new Date().getUTCHours() >= 23) || (new Date().getUTCDay() === 2 && new Date().getUTCHours() <= 2))
            section.section.bg-light#live-stream-container
                .container-fluid
                    span.title.text-right.no-side-margin Live Stream
                    .embed-responsive.embed-responsive-16by9
                        iframe#ustream-full.embed-responsive-item(src='http://www.ustream.tv/embed/10266764?showTitle=false&autoplay=true&html5ui=1&volume=50', width="100%", height="100%", allowfullscreen, webkitallowfullscreen, frameborder="0", style="border: 0px none transparent;", scrolling="no")
             
            //- #live-stream
            //-     .content
            //-         .embed-responsive.embed-responsive-16by9
            //-             iframe#ustream-mini.embed-responsive-item(src='http://www.ustream.tv/embed/10266764?showTitle=false&autoplay=true&html5ui=1&volume=0', frameborder="0", style="border: 0px none transparent;")
            //-         .live-stream-close-bar
            //-             span Live Stream
            //-             span: i.fa.fa-close(style={cursor: 'pointer', 'margin-top': '2px'})

        section.section.bg-light
            .container-fluid
                span.title.text-right YouTube
                .row
                    each video in youtube.videos
                        .col-lg-4.col-md-4.col-sm-6.margin-bottom-4
                            +card_wrapper_video(video)

        if promos.length > 0
            section.section.bg-light
                .container-fluid
                    span.title.text-right.no-side-margin Promos
                    .slider-wrapper-music
                        each promo in promos
                            +card_wrapper_promo(promo)

        section.section.bg-light
            .container-fluid
                span.title.text-right Soundcloud
                .row
                    each song in songs
                        .col-lg-6.col-md-4.col-sm-6.margin-bottom-4
                            +card_wrapper_song_mini(song)

    script.
        requirejs(['js/scripts/home'], function(HomeScript) {
            new HomeScript();
        });