extends ../layout.pug

block content

    section#tos.section-bg-dark
        .container
            span.section-title Terms of Use
            p
                | BY USING 
                a(href="http://elcomiteurbano.com") ELCOMITEURBANO.COM
                | , YOU AGREE TO BE BOUND BY THESE TERMS OF USE.
                | IF YOU DO NOT WISH TO BE BOUND BY THE THESE TERMS OF USE, PLEASE EXIT THE SITE NOW.
                | YOUR REMEDY FOR DISSATISFACTION WITH THIS SITE, OR ANY PRODUCTS, SERVICES, CONTENT,
                | OR OTHER INFORMATION AVAILABLE ON OR THROUGH THIS SITE, IS TO STOP USING THE SITE
                | AND/OR THOSE PARTICULAR PRODUCTS OR SERVICES.
                | YOUR AGREEMENT WITH US REGARDING COMPLIANCE WITH THESE
                | TERMS OF USE BECOMES EFFECTIVE IMMEDIATELY UPON COMMENCEMENT OF YOUR USE OF THIS SITE.
            br

            span.section-title Privacy
            p
                | Our 
                a(href="/policies") Privacy Policy 
                | also governs your access to and use of 
                a(href="http://elcomiteurbano.com") ElComiteUrbano.com
                | and information you provide or we collect on or through 
                a(href="http://elcomiteurbano.com") ElComiteUrbano.com
                | , and is incorporated into these Terms of Use by reference.
                | Please review the 
                a(href="/policies") Privacy Policy 
                | to learn about information we collect and how we use and disclose such information.
            br

            span.section-title Copyright
            p
                | The text, images, sounds and other content included on this website are the exclusive property of 
                a(href="http://elcomiteurbano.com") ElComiteUrbano.com 
                | or their respective authors. Any transmission, distribution, reproduction, storage or communication in whole or in part,
                | must have the express consent of 
                a(href="http://elcomiteurbano.com") ElComiteUrbano.com
                | , or its respective author.
            
            p
                | All music files and web images are used in order to promote and sponsor.
                | This blog does not support piracy and everything is for promotional use.
                | 
                a(href="http://elcomiteurbano.com") ElComiteUrbano.com
                |  not responsible for the publications of our editors.
            br

            span.section-title Accessing
            p
                | (a) You agree that We will not be liable, under any circumstances and in any
                | way, for any errors or omissions, loss or damage of any kind incurred as a result
                | of use of any content posted on this site. You agree that you must evaluate and
                | bear all risks associated with the use of any content, including any reliance on
                | the accuracy, completeness, or usefulness of such content. You agree not to
                | collect information about others, including e-mail addresses, or to use information
                | obtained from the Services to send other users unsolicited e-mail of any kind.

            p
                | (b) Comments or message board postings may provide links to other websites on
                | the Internet. We are not responsible or liable for such content and we make no
                | express or implied warranty about the accuracy, copyright compliance, legality,
                | merchantability, or any other aspect of the content of such postings. We are not
                | responsible or liable for any advertising, products, or other materials on or
                | available from such websites or resources. The inclusion of links does not imply
                | endorsement of the Websites by Us or any association with their operators.
            
            p
                | (c) We may enable you to establish an account with a username and password
                | to access and use the Services. If so, you are responsible for maintaining the
                | strict confidentiality of your password, and you are responsible for any activity
                | occurring through use of your account and password. You agree to immediately
                | notify us of any unauthorized use of your password or account or any other
                | breach of security and ensure that you exit from your account at the end of each session.
                | We are not responsible or liable for any loss or damage arising from
                | your failure to comply with this provision.