.top-margin {
  margin-top: 30px;
}
.bottom-margin {
  margin-bottom: 60px;
}
.top-bottom-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-raised {
  border-radius: 2px;
}
.no-side-margin {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
}
a {
  color: #212121;
}
a:hover,
a:focus {
  color: #028482;
  text-decoration: none;
}
small {
  color: #848484;
}
@media only screen and (min-width: 544px) and (max-width: 767px) {
  body {
    padding-bottom: 5rem !important;
  }
}
@media only screen and (max-width: 543px) {
  body {
    padding-bottom: 5rem !important;
  }
}
.navbar,
.navbar.navbar-default {
  background-color: rgba(255, 255, 255, 0.97);
  color: #028482;
}
.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:focus {
  background-color: rgba(255, 255, 255, 0.97);
}
body {
  background-color: #f1f1f1;
  padding-top: 70px;
}
.footer {
  margin-top: 60px;
  background-color: white;
}
.header-banner {
  background: url(/assets/images/banners/ecu-square-banner.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
@media only screen and (max-width: 543px) {
  body {
    padding-bottom: 0rem!important;
  }
}
@media only screen and (max-width: 767px) and (min-width: 544px) {
  body {
    padding-bottom: 0rem!important;
  }
}
