html {
  font-size: 16px; }
  html body {
    background-color: #181818;
    font-weight: 300;
    font-size: 16px;
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    padding-top: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }

.row {
  margin: 0; }

a:hover, a:active, a:focus {
  text-decoration: none; }

p {
  margin-bottom: 1rem; }

.height-300 {
  height: 300px; }

.no-scroll {
  overflow: hidden; }

a.accent-link {
  color: #F96816; }
  a.accent-link:hover, a.accent-link:active, a.accent-link:focus {
    text-decoration: underline; }

* {
  outline: none !important; }

.no-padding {
  padding: 0; }

.no-left-padding {
  padding-left: 0; }

.no-right-padding {
  padding-right: 0; }

.margin-bottom-4 {
  margin-bottom: 20px; }

.section {
  padding: 20px 0; }

.bg-dark {
  background-color: #181818; }

.bg-light {
  background-color: #222222; }

.section.title {
  font-size: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  margin-bottom: 2rem;
  display: block;
  text-align: right;
  border-bottom: 1px dotted #F96816; }
  @media only screen and (min-width: 544px) and (max-width: 767px), only screen and (max-width: 543px) {
    .section.title {
      font-size: 2rem;
      margin-bottom: 1rem; } }

.modal-dialog .modal-content {
  background-color: #222222;
  border-radius: 0; }
  .modal-dialog .modal-content .modal-header {
    border: none; }
    .modal-dialog .modal-content .modal-header .modal-title {
      color: #F96816;
      font-family: "Ubuntu", sans-serif; }
  .modal-dialog .modal-content .modal-body {
    background-color: #181818; }
    .modal-dialog .modal-content .modal-body input, .modal-dialog .modal-content .modal-body textarea {
      margin-top: 10px; }
    .modal-dialog .modal-content .modal-body textarea {
      min-height: 200px;
      min-width: 100%; }
  .modal-dialog .modal-content .modal-footer {
    border: none; }

.form-control-ecu-accent {
  background-color: transparent;
  color: #F96816;
  border: 1px dotted #F96816; }
  .form-control-ecu-accent:active, .form-control-ecu-accent:focus {
    box-shadow: none;
    border: 1px solid #F96816;
    color: white;
    background-color: #280f01; }

.btn-ecu-accent {
  background-color: transparent;
  color: #F96816;
  border: 1px dotted #F96816; }
  .btn-ecu-accent:hover, .btn-ecu-accent:active, .btn-ecu-accent:focus {
    color: white;
    background-color: #F96816; }

/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity; }

.carousel-fade .carousel-inner .active {
  opacity: 1; }

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-control {
  z-index: 2; }

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px dashed #F96816;
  background-color: #222222;
  color: #fafafa;
  min-height: 100px;
  min-width: 100%;
  overflow: hidden;
  z-index: 100;
  box-sizing: border-box;
  transition: all .250s ease-in-out; }
  .navbar-wrapper .navbar-brand-wrapper {
    padding: 0 20px;
    display: inline-block; }
    .navbar-wrapper .navbar-brand-wrapper a {
      color: #fafafa;
      text-decoration: none; }
      .navbar-wrapper .navbar-brand-wrapper a:hover {
        color: #fafafa; }
      .navbar-wrapper .navbar-brand-wrapper a .navbar-brand-title {
        position: relative;
        font-size: 2rem;
        font-weight: 300;
        line-height: 100px; }
        .navbar-wrapper .navbar-brand-wrapper a .navbar-brand-title span {
          color: #F96816;
          font-weight: 600;
          font-family: "Ubuntu", sans-serif; }
  .navbar-wrapper .navbar-menu-icon-wrapper {
    display: inline-block;
    float: right; }
    .navbar-wrapper .navbar-menu-icon-wrapper .navbar-menu-icon {
      line-height: 100px;
      padding: 0 5px;
      font-size: 2rem;
      transition: all .2s; }
      .navbar-wrapper .navbar-menu-icon-wrapper .navbar-menu-icon:hover {
        color: #F96816;
        cursor: pointer; }

.navbar-toggle {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.navbar-sidebar-wrapper {
  position: fixed;
  background-color: #222222;
  overflow: auto;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  z-index: 99;
  border-top: 2px solid #222222;
  border-left: 2px solid #222222;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: all .250s ease-in-out;
  padding-top: 100px; }
  .navbar-sidebar-wrapper a {
    display: block;
    padding: 20px;
    font-size: 1.2rem;
    border-bottom: 2px solid #181818;
    color: #fafafa; }
    .navbar-sidebar-wrapper a:hover, .navbar-sidebar-wrapper a:focus {
      color: #F96816; }
    .navbar-sidebar-wrapper a span {
      font-family: "Roboto", sans-serif;
      padding-bottom: 1px;
      font-weight: 200;
      margin-left: 10px; }
      .navbar-sidebar-wrapper a span:hover, .navbar-sidebar-wrapper a span:focus {
        color: #F96816; }
    .navbar-sidebar-wrapper a:last-child {
      font-size: 0.8rem;
      font-weight: 200; }

.navbar-sidebar-toggle {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

@media only screen and (min-width: 1200px) {
  .navbar-sidebar-toggle {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0); } }

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-sidebar-toggle {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }

@media only screen and (min-width: 544px) and (max-width: 767px), only screen and (max-width: 543px) {
  .navbar-sidebar-toggle {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@media only screen and (max-width: 543px) {
  .navbar-wrapper .navbar-brand-wrapper .navbar-brand-title {
    font-size: 1.5rem !important; }
  .navbar-wrapper .navbar-menu-icon-wrapper .navbar-menu-icon {
    font-size: 1.5rem; } }

.footer-wrapper {
  border-top: 1px dashed #F96816; }
  .footer-wrapper .footer-brand a {
    color: #fafafa;
    text-decoration: none;
    display: block; }
    .footer-wrapper .footer-brand a:hover, .footer-wrapper .footer-brand a:focus, .footer-wrapper .footer-brand a:active {
      color: #fafafa; }
    .footer-wrapper .footer-brand a .footer-brand-title {
      position: relative;
      font-size: 2rem;
      font-weight: 300;
      line-height: 100px; }
      .footer-wrapper .footer-brand a .footer-brand-title span {
        color: #F96816;
        font-weight: 600;
        font-family: "Ubuntu", sans-serif; }
  .footer-wrapper ul {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center; }
    .footer-wrapper ul li {
      display: inline-block;
      padding: 0 10px;
      font-family: "Ubuntu", sans-serif;
      font-size: 1rem; }
      .footer-wrapper ul li a {
        color: #fafafa; }
        .footer-wrapper ul li a:hover {
          color: #F96816; }

@media only screen and (max-width: 543px) {
  .footer-wrapper .footer-brand-title {
    font-size: 1.5rem !important; }
  .footer-wrapper ul li {
    padding: 0 5px;
    font-size: 0.8rem; } }

.banner-image {
  position: relative;
  overflow: hidden; }
  .banner-image img {
    width: 100%; }
  .banner-image .banner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .banner-image .banner-content {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: #fafafa;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); }
    .banner-image .banner-content span {
      text-align: center;
      display: block; }
    .banner-image .banner-content .banner-title {
      font-family: "Roboto", sans-serif;
      font-size: 3rem;
      font-weight: 200; }
    .banner-image .banner-content .banner-subtitle {
      font-size: 1.5rem;
      color: #fafafa;
      font-family: "Ubuntu", sans-serif;
      font-weight: 200; }
    @media only screen and (min-width: 544px) and (max-width: 767px), only screen and (max-width: 543px) {
      .banner-image .banner-content .banner-title {
        font-size: 2rem !important; }
      .banner-image .banner-content .banner-subtitle {
        font-size: 1rem !important; } }
  .banner-image .banner-social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fafafa;
    max-height: 100px; }
    .banner-image .banner-social ul.social-media-share-home {
      width: 100%;
      padding: 0;
      list-style-type: none;
      text-align: center;
      box-sizing: border-box; }
      .banner-image .banner-social ul.social-media-share-home li {
        display: inline-block;
        width: calc(100% / 6);
        border-right: 1px dashed #F96816; }
        .banner-image .banner-social ul.social-media-share-home li:first-child {
          border-left: 1px dashed #F96816; }
        .banner-image .banner-social ul.social-media-share-home li a {
          color: #fafafa;
          font-size: 2rem;
          line-height: 100px; }
          .banner-image .banner-social ul.social-media-share-home li a:hover {
            color: #F96816;
            text-decoration: none; }
    @media only screen and (min-width: 544px) and (max-width: 767px), only screen and (max-width: 543px) {
      .banner-image .banner-social {
        height: 50px; }
        .banner-image .banner-social li a {
          font-size: 1.25rem !important;
          line-height: calc(100px / 2) !important; } }

.soundcloud-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .soundcloud-wrapper img {
    width: 100%; }
  .soundcloud-wrapper .content {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 10px;
    text-align: right; }
    .soundcloud-wrapper .content .artists {
      display: block;
      color: #a1a1a1;
      font-size: 1rem; }
    .soundcloud-wrapper .content .title {
      display: block; }
      .soundcloud-wrapper .content .title a {
        color: #fafafa;
        font-size: 1.2rem; }
        .soundcloud-wrapper .content .title a:hover {
          text-decoration: none; }
    .soundcloud-wrapper .content a {
      display: block;
      color: #F96816;
      font-size: 1rem; }
    @media only screen and (min-width: 544px) and (max-width: 767px) {
      .soundcloud-wrapper .content .artists {
        font-size: 1.2rem; }
      .soundcloud-wrapper .content .title a {
        font-size: 1.5rem; }
      .soundcloud-wrapper .content a {
        font-size: 1.2rem; } }

.promo-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .promo-wrapper img {
    width: 100%; }
  .promo-wrapper .content {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    text-align: right; }
    .promo-wrapper .content .artists {
      display: block;
      color: #a1a1a1;
      font-size: 1.5rem; }
    .promo-wrapper .content .title {
      display: block;
      color: #fafafa;
      font-size: 2rem; }
    .promo-wrapper .content .download-link {
      display: block;
      color: #F96816;
      font-size: 1.2rem; }
    .promo-wrapper .content .loading-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #F96816;
      width: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .promo-wrapper .content .artists {
        font-size: 1.2rem; }
      .promo-wrapper .content .title {
        font-size: 1.5rem; }
      .promo-wrapper .content .download-link {
        font-size: 1rem; } }
    @media only screen and (min-width: 544px) and (max-width: 767px) {
      .promo-wrapper .content {
        padding: 10px; }
        .promo-wrapper .content .artists {
          font-size: 1rem; }
        .promo-wrapper .content .title {
          font-size: 1.2rem; }
        .promo-wrapper .content .download-link {
          font-size: 0.8rem; } }
    @media only screen and (max-width: 543px) {
      .promo-wrapper .content {
        padding: 10px; }
        .promo-wrapper .content .artists {
          font-size: 0.5rem; }
        .promo-wrapper .content .title {
          font-size: 0.8rem; }
        .promo-wrapper .content .download-link {
          font-size: 0.5rem; } }
