doctype html
html
    include includes/header.pug
    
    body
        nav
            include includes/navbar.pug
            include includes/sidebar.pug
        .row
            .col-lg-9.col-md-12
                .main-container
                    block content
                include includes/footer.pug

        include includes/contact-us.pug
        include includes/ga.pug