@import 'common.less';
@import 'navbar.less';

body {
    background-color: #f1f1f1;
}

.footer {
    margin-top: 60px;
    background-color: white;
}

.header-banner {
    background: url(/assets/images/banners/ecu-square-banner.jpg) no-repeat center center fixed; 
  	.background-size(cover);
      min-height: 100vh;
}

@media only screen and (max-width: 543px) {
body {
    padding-bottom: 0rem!important;
}
}

@media only screen and (max-width: 767px) and (min-width: 544px) {
body {
    padding-bottom: 0rem!important;
}
}