footer.footer
    .container
        .pull-left
            ul
                li
                    a(target="_blank", class="fa fa-facebook-official", href="https://www.facebook.com/elcomiteurbanoradio")
                li
                    a(target="_blank", class="fa fa-instagram", href="https://www.instagram.com/elcomiteurbanoradio")
                li
                    a(target="_blank", class="fa fa-youtube", href="https://www.youtube.com/elcomiteurbanoradio")
                li
                    a(target="_blank", class="fa fa-soundcloud", href="https://www.soundcloud.com/elcomiteurbanoradio")
                li
                    a(target="_blank", class="fa fa-twitter", href="https://www.twitter.com/elcomiteurbano")
        .copyright.pull-right © 2016, Design by iamrelos