footer.footer-wrapper.section-bg-light
    .container.footer-brand
        a(href="/", class="text-center")
            span.footer-brand-title COMITE
                span URBANO
    ul
        li
            a(href="/about") About
        li &bull;
        li
            a(href="/contact") Contact Us
        li &bull;
        li
            a(href="/policies") Policies
        li &bull;
        li
            a(href="/termsofuse") Term of Use
    ul
        li &copy; #{moment().format('YYYY')} El Comite Urbano. All Rights Reserved
        br
        li Design By: 
            a(href="http://www.keypunchers.io/", target="_blank") &copy; #{moment().format('YYYY')} keypunchers.io