header.navbar-wrapper
    .container-fluid
        .navbar-brand-wrapper
            a(href="/")
                    span.navbar-brand-title.animated.fadeIn COMITE
                        span URBANO
        .navbar-menu-icon-wrapper
                .navbar-menu-icon.animated.fadeIn
                    i.glyphicon.glyphicon-option-vertical