.navbar.navbar-fixed-top
    .container
        .navbar-header
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-responsive-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand", href="/") El Comite Urbano
        .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/videos")
                        i.material-icons videocam
                        | Videos
                li
                    a(href="/about") 
                        i.material-icons info outline
                        | About
                //- li.dropdown
                //-     a(href="#", data-target="#", class="dropdown-toggle", data-toggle="dropdown") Dropdown 
                //-         b.caret
                //-     ul.dropdown-menu
                //-         li
                //-             a(href="javascript:void(0)") Login
                //-         li.divider
                //-         li
                //-             a(href="javascript:void(0)") Contact