$color-bg-primary: #181818;
$color-bg-secondary: #222222;
$color-bg-accent: #F96816;
$color-bg-overlay-black: rgba(0, 0, 0, .8);

$color-font-light: #fafafa;
$color-font-dark: #a1a1a1;
$color-font-accent: $color-bg-accent;