@import "./partials/_utils";
.slick-prev {
  left: -2rem;
  &:before {
    content: '\3008';
    color: $color-font-accent;
    font-size: 2rem;
  }
}

.slick-next {
  right: -1.4rem;
  &:before {
    content: '\3009';
    color: $color-font-accent;
    font-size: 2rem;
  }
}

.slick-dots li button:before {
    color: white;
}

.slick-dots li.slick-active button:before {
    color: $color-font-accent;
}