@import "./partials/_utils";
.banner-image {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
    }
    .banner-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
    }
    .banner-content {
        position: absolute;
        top: 30%;
        left: 50%;
        right: 0;
        color: $color-font-light;
        transform: translate3d(-50%, -30%, 0);
        span {
            text-align: center;
            display: block;
        }
        img {
            width: 50%;
            position: relative;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
        .banner-title {
            font-family: $roboto;
            font-size: 3rem;
            font-weight: $font-weight-thin;
        }
        .banner-subtitle {
            font-size: 1.5rem;
            font-family: $ubuntu;
            font-weight: $font-weight-thin;
        }
        .banner-subscribe {
            color: $color-font-light;
            font-family: $ubuntu;
            font-weight: $font-weight-thin;
            opacity: 0.60;
            a {
                color: $color-font-light;
                &:hover {
                    color: $color-font-accent;
                }
            }
        }
        @media #{$media-small},
        #{$media-x-small} {
            .banner-title {
                font-size: 2rem !important;
            }
            .banner-subtitle {
                font-size: 1rem !important;
            }
        }
    }
    .banner-social {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        color: $color-font-light;
        max-height: $navbar-height;
        ul.social-media-share-home {
            width: 100%;
            padding: 0;
            list-style-type: none;
            text-align: center;
            box-sizing: border-box;
            li {
                display: inline-block;
                width: calc(100% / 6);
                border-right: 1px dashed $color-font-accent;
                &:first-child {
                    border-left: 1px dashed $color-font-accent;
                }
                a {
                    color: $color-font-light;
                    font-size: 2rem;
                    line-height: $navbar-height;
                    &:hover {
                        color: $color-font-accent;
                        text-decoration: none;
                    }
                }
            }
        }
        @media #{$media-small},
        #{$media-x-small} {
            height: $navbar-height / 2;
            li {
                a {
                    font-size: 1.25rem !important;
                    line-height: calc(#{$navbar-height} / 2) !important;
                }
            }
        }
    }
}