@import "./partials/_utils";

.banner-image {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
    }

    .banner-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.3);
    }

    .banner-content {
        position: absolute;
        top: 30%;
        left: 50%;
        color: $color-font-light;
        transform: translate3d(-50%, -30%, 0);

        span {
            text-align: center;
            display: block;
        }

        .banner-title {
            font-family: $roboto;
            font-size: 3rem;
            font-weight: $font-weight-thin;
        }

        .banner-subtitle {
            font-size: 1.5rem;
            color: $color-font-light;
            font-family: $ubuntu;
            font-weight: $font-weight-thin;
        }
    }

    .banner-social {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.8);
        color: $color-font-light;
        max-height: $navbar-height;

        .social-media-share-home {
            width: 100%;
            padding: 0;
            list-style-type: none;
            text-align: center;
            box-sizing: border-box;

            li {
                display: inline-block;
                width: calc(100% / 6);
                border-right: 1px dashed $color-font-accent;

                &:first-child {
                    border-left: 1px dashed $color-font-accent;
                }

                a {
                    color: $color-font-light;
                    line-height: $navbar-height;

                    &:hover {
                        color: $color-font-accent;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.promo-wrapper {
  position: relative;
  z-index: 1;

  img {
    width: 100%;
  }

  .content {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: spacing(4);
    text-align: right;

    .artists {
      display: block;
      color: #ccc;
      font-size: 1.8vw;
    }
    .title {
      display: block;
      color: white;
      font-size: 2.3vw;
    }
    .download-link {
      display: block;
      color: #F96816;
      font-size: 1.5vw;
    }
  }
}

@media #{$media-small}, #{$media-x-small} {
  .banner-social {
    height: $navbar-height / 2;

    li {
        a {
            font-size: 1.25rem;
            line-height: calc(#{$navbar-height} / 2) !important;
        }
    }
  }

  .banner-title {
      font-size: 1.25rem !important;
  }

  .banner-subtitle {
      font-size: 0.6rem !important;
  }
}

@media #{$media-small} {

  .banner-title {
      font-size: 2rem !important;
  }

  .banner-subtitle {
      font-size: 1rem !important;
  }
}

@media #{$media-x-large} {

  .banner-title {
      font-size: 4rem !important;
  }

  .banner-subtitle {
      font-size: 2rem !important;
  }
}

@media #{$media-large}, #{$media-medium} {

  .banner-title {
      font-size: 3rem !important;
  }

  .banner-subtitle {
      font-size: 1.5rem !important;
  }
}